﻿
<link href="/Content/jquery.treetable.css" rel="stylesheet" />
<link href="../Content/jquery.treetable.theme.default.css" rel="stylesheet" />
<link href="../assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css" />
<link href="../assets/apps/css/todo-rtl.min.css" rel="stylesheet" type="text/css" />
<link href="/Content/model-add-company.css" rel="stylesheet" />
<link href="../assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../Content/js-custom-select-master.css" rel="stylesheet" />
<link href="../Scripts/tree/themes/default/style.css" rel="stylesheet" />
<link href="../Scripts/tree/themes/default-dark/style.min.css" rel="stylesheet" />

<style>
       tr.border_subtotal {
          font-weight:600;
         
        }
      tr.border_subtotal td{

          padding-top:1em !important;
         

        }
    tr.border_subtotal td:first-child {
           text-align:center !important; 
            vertical-align:middle !important;
         
        }
    .ui-select-bootstrap .ui-select-toggle > .caret {
        right: initial;
        left: 10px; /* or any other value - it should be the same as the original right value */
    }


    .ui-select-bootstrap > .ui-select-match > .btn {
        text-align: right !important;
        direction: rtl;
    }


        .ui-select-bootstrap > .ui-select-match > .btn > span.pull-left {
            float: right !important;
        }

    fieldset {
        background: #FCFCFC;
        padding: 16px;
        border: 1px solid #D5D5D5;
    }

    .addfields {
        margin: 10px 0;
    }

    #choicesDisplay {
        margin-top: 10px;
        padding: 10px;
        background: rgb(227, 250, 227);
        border: 1px solid rgb(171, 239, 171);
        color: rgb(9, 56, 9);
    }

    .remove {
        background: #C76868;
        color: #FFF;
        font-weight: bold;
        font-size: 21px;
        border: 0;
        cursor: pointer;
        display: inline-block;
        padding: 4px 9px;
        vertical-align: top;
        line-height: 100%;
    }
</style>
<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">الرئيسية</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">حسابات</a>
            <i class="fa fa-circle"></i>

        </li>
        <li>
            <a href="#">ميزان المراجعة</a>
        </li>
    </ul>

</div>

<h3 class="page-title"></h3>


<div class="portlet box grey-gallery" ng-controller="trialBalanceController">
    <div class="portlet-title">
        <div class="caption hidden-print">
            ميزان المراجعة
            -
            <a href="#" editable-select="branchGroub.id" onshow="loadCompanies()" e-ng-options="c.id as c.name group by c.companyName for c in branchesGroub">
                {{ branchGroub.fullName}}
            </a>

            <i class="fa fa-gift"></i>

        </div>

        <div class="caption visible-print">
            {{branchGroub.fullName}} -
            ميزان المراجعة 
          

            <i class="fa fa-gift"></i>

        </div>

        <div class="actions hidden-print">

            <a onclick="javascript:window.print();" href="javascript:;" class="btn btn-default btn-sm">
                <i class="fa fa-print"></i> طباعه
            </a>
        </div>
    </div>
    <div class="portlet-body">

        <div class="form-group">
          
            <div ng-disabled="!accountMoves.length" class="col-md-5 col-lg-5 col-sm-5">
                <label class="control-labe">عن الفترة</label>

                <div class="form-control" id="reportrange" style="background: #fff; cursor: pointer; padding: 3px; border: 1px solid #ccc; width: 100%">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                    <span></span> <b class="caret hidden-print"></b>
                </div>
                <div class="md-checkbox md-checkbox-inline">
                    <input type="checkbox" ng-disabled="!branchGroub.isCompany" ng-model="allAccounts" ng-change="isAllAccounts()" id="check-details" class="md-check">
                    <label for="check-details">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span> اظهار جميع حسابات الشركة
                    </label>
                </div>
            </div>
           
            <!--<div ng-disabled="!accountMoves.length" class="col-lg-1 col-md-1 col-sm-1 hidden-print">
                <div class="form-group">
                    <label for="searchId">العدد</label>
                    <div class="input-group">
                        <input type="text" readonly class="form-control" id="searchId" ng-model="totalItems">

                    </div>
                </div>
            </div>-->
        </div>


        <div id="loading-bar-container" class="row table-scrollable">

            <table ng-show="accountMoves != null"  class="table table-bordered table-condensed table-striped table-hover">
                <thead ng-show="selectedAccountId != 0">
                    <tr style="background-color:#ccc;border:2px solid black">
                        <th>
                            م
                        </th>
                        <th>
                            <a ng-click="sortType = 'name'; sortReverse = !sortReverse">
                                الحساب
                                <span ng-show="sortType == 'name' && !sortReverse" class="hidden-print fa fa-caret-down"></span>
                                <span ng-show="sortType == 'name' && sortReverse" class="hidden-print fa fa-caret-up"></span>
                            </a>

                        </th>
                        <th class="text-center">
                            <a ng-click="sortType = 'code'; sortReverse = !sortReverse">
                                الرقم
                                <span ng-show="sortType == 'code' && !sortReverse" class="hidden-print fa fa-caret-down"></span>
                                <span ng-show="sortType == 'code' && sortReverse" class="hidden-print fa fa-caret-up"></span>
                            </a>
                            
                        </th>
                        <th class="text-center" style="width:20% !important">
                            <a ng-click="sortType = 'debit'; sortReverse = !sortReverse">
                                الارصدة المدينة
                                <span ng-show="sortType == 'debit' && !sortReverse" class="hidden-print fa fa-caret-down"></span>
                                <span ng-show="sortType == 'debit' && sortReverse" class="hidden-print fa fa-caret-up"></span>
                            </a>

                        </th>
                        <th class="text-center" style="width:20% !important">
                            <a ng-click="sortType = 'crdit'; sortReverse = !sortReverse">
                                الارصدة الدائنة
                                <span ng-show="sortType == 'crdit' && !sortReverse" class="hidden-print fa fa-caret-down"></span>
                                <span ng-show="sortType == 'crdit' && sortReverse" class="hidden-print fa fa-caret-up"></span>
                            </a>


                        </th>
                     
                    </tr>
                </thead>
                <tbody ng-show="selectedAccountId != 0">


                    <tr class="border_subtotal" ng-repeat="accountMove in accountMoves">
                        
                        <td>
                            {{$index+1}}
                        </td>
                        <td style="font-weight:bold">
                            
                            
                            {{accountMove.name}}<span style="font-weight:300"> ({{accountMove.accountCatogeryName}})</span>
                        </td>
                        <td class="text-center"><a href="#">{{accountMove.code}}</a></td>
                        <td class="text-center" style="font-weight:bold">{{accountMove.debit == 0 ? '--' : accountMove.debit }}</td>
                        <td class="text-center" style="font-weight:bold">{{accountMove.crdit == 0 ? '--' : accountMove.crdit }}</td>

                   </tr>

                </tbody>
                <tfoot ng-show="selectedAccountId != 0">
                    <tr>
                        <td style="font-weight:bolder" colspan="3">
                           الاجمالي
                            
                        </td>
                        <td class="text-center" style="font-weight:bolder">
                            {{getTotal('debit')}}
                        </td>
                        <td  class="text-center" style="font-weight:bolder">
                            {{getTotal('crdit')}}
                        </td>

                    </tr>
                    <tr class="text-center" ng-show="accountMoves.length == 0">
                        <td style="padding:1em;font-weight:bold" colspan="5">
                            لا يوجد اي حركة مسجلة لهذا الحساب
                        </td>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>

   
</div>

<script src="../assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript"></script>
<script src="../assets/pages/scripts/ui-extended-modals.min.js" type="text/javascript"></script>
<script src="../assets/pages/scripts/ui-buttons.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<script src="../assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
<script src="../Scripts/js-custom-select-master.js"></script>
<script src="../assets/pages/scripts/form-validation-md.min.js" type="text/javascript"></script>
<script>

    $(".your_table_id").on("mousedown", "tr", function () {
        $(".selected").not(this).removeClass("selected");
        $(this).toggleClass("selected");
    });

    //date
    $(".integer").keypress(function (e) {
        if (e.which < 48 || e.which > 57) {
            showAdvice(this, "ارقام طبيعيه فقط");
            return (false);
        }
    });


    $(".decimal").keypress(function (e) {
        // 46 is a period
        if (e.which != 46 && (e.which < 48 || e.which > 57)) {
            showAdvice(this, "Decimal numbers only");
            return (false);
        }
        if (e.which == 46 && this.value.indexOf(".") != -1) {
            showAdvice(this, "Only one period allowed in decimal numbers");
            return (false);   // only one decimal allowed
        }


    });

    function showAdvice(obj, msg) {
        $("#singleAdvice").stop(true, false).remove();
        $('<span id="singleAdvice" class="advice">' + msg + '</span>').insertAfter(obj);
        $("#singleAdvice").delay(4000).fadeOut(1500);
    }

</script>


