﻿<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">الرئيسية</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#/profile/dashboard">الملف الشخصي</a>
            <i class="fa fa-circle"></i>

        </li>
        <!--<li>
            <a href="">محمد صلاح</a>
        </li>-->
    </ul>
 
</div>
<!--<h3 class="page-title"> الملف الشخصي </h3>-->
<br />
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row" >
  
    <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
     
        <!-- END BEGIN PROFILE SIDEBAR -->
        <!-- BEGIN PROFILE CONTENT -->
        <div ui-view class="profile-content fade-in-up"> </div>
        <!-- END PROFILE CONTENT -->
    </div>
</div>
<!-- END PAGE CONTENT-->