﻿
<link href="/Content/jquery.treetable.css" rel="stylesheet" />
<!--<link href="../Content/jquery.treetable.theme.default.css" rel="stylesheet" />-->
<link href="../assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css" />
<link href="../assets/apps/css/todo-rtl.min.css" rel="stylesheet" type="text/css" />
<link href="/Content/model-add-company.css" rel="stylesheet" />
<link href="../assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../Content/js-custom-select-master.css" rel="stylesheet" />
<!--<link href="../Scripts/tree/themes/default/style.css" rel="stylesheet" />-->
<!--<link href="../Scripts/tree/themes/default-dark/style.min.css" rel="stylesheet" />-->

<style>
    .ui-select-bootstrap .ui-select-toggle > .caret
    {
   right: initial;
   left: 10px; /* or any other value - it should be the same as the original right value */
}


.ui-select-bootstrap > .ui-select-match > .btn {
    text-align: right !important;
    direction: rtl;
 }


 .ui-select-bootstrap > .ui-select-match > .btn > span.pull-left {
     float: right !important;
 }
    
fieldset{
    background: #FCFCFC;
    padding: 16px;
    border: 1px solid #D5D5D5;
}
.addfields{
    margin: 10px 0;
}

#choicesDisplay {
    margin-top:10px;
    padding: 10px;
    background: rgb(227, 250, 227);
    border: 1px solid rgb(171, 239, 171);
    color: rgb(9, 56, 9);
}
.remove{
    background: #C76868;
    color: #FFF;
    font-weight: bold;
    font-size: 21px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    padding: 4px 9px;
    vertical-align: top;
    line-height: 100%;   
}
</style>
<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">الرئيسية</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">حسابات</a>
            <i class="fa fa-circle"></i>

        </li>
        <li>
            <a href="#">دفتر اليومية</a>
        </li>
    </ul>

</div>

<h3 class="page-title">

    
</h3>


<div class="portlet box grey-gallery" ng-controller="GeneralJournalController">
    <div class="portlet-title">
        <div class="caption hidden-print" > 
            دفتر اليومية - 
            <a href="#" editable-select="branchGroub.id" onshow="loadCompanies()" e-ng-options="c.id as c.name group by c.companyName for c in branchesGroub">
                {{ branchGroub.fullName}}
            </a>
          
            <i class="fa fa-gift"></i>
           
        </div>

        <div  class="caption visible-print">
            دفتر اليومية -
            <a href="#" editable-select="branchGroub.id" onshow="loadCompanies()" e-ng-options="c.id as c.name group by c.companyName for c in branchesGroub">
                {{ branchGroub.fullName + '( ' +  'الاذون المطبوعه ' + orders.length + 'من ' + totalItems + ' )'}}
            </a>

            <i class="fa fa-gift"></i>

        </div>
       
        <div class="actions hidden-print">
            <a href="#" ng-disabled="!accountsArray.length" ng-click="addOrder()" class="btn btn-default btn-sm">
                <i class="fa fa-plus"></i> انشاء قيد
            </a>
            <a onclick="javascript:window.print();" href="javascript:;" class="btn btn-default btn-sm">
                <i class="fa fa-print"></i> طباعه
            </a>
        </div>
    </div>
    <div ng-if="orderModal" class="portlet-body">
        <div class="portlet box grey-gallery">
            <div class="portlet-title">
                <div class="caption">
                    {{ OrderTo.orderId == 0 ? ('انشاء اذن رقم ' + OrderTo.orderNo) : ('تعديل اذن رقم ' + OrderTo.orderNo)}}
                </div>

            </div>
            <div class="portlet-body">
                <ul class="list-group">
                    <li style="background-color:#ccc" class="list-group-item">
                        <div class="caption">

                            <div class="form-group">
                                <label for="usr">البيان:</label>
                                <input ng-model="OrderTo.orderNote" type="text" class="form-control" id="usr">
                            </div>

                        </div>
                    </li>
                    <li style="background-color:#ccc" class="list-group-item">
                        <table class="table table-responsive table-bordered">


                            <thead>
                                <tr style="background-color:#6ba7c4">
                                    <th style="text-align:center" class="bg-green-seagreen bg-font-green-seagreen"> المدين - {{DebitorAccountsTotalamount()}} </th>
                                    <th style="text-align:center" class="bg-green-meadow bg-font-green-meadow"> الدائن - {{CrditorAccountsTotalamount()}} </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="bg-green-seagreen bg-font-green-seagreen">
                                        <div class="row" style="margin:1em;">
                                            <div data-ng-repeat="debitorAccount in debitorAccounts track by $index">

                                                <fieldset>
                                                    <div class="form-group row">
                                                        <div class="col-lg-7 col-md-7 col-sm-7">
                                                            <label for="selecti">
                                                                الحساب
                                                            </label>
                                                            <ui-select on-select="removeacc(debitorAccount.account)" ng-model="debitorAccount.account" theme="bootstrap" name="selecti">
                                                                <ui-select-match ng-click="addacc(debitorAccount.account)" allow-clear="false" placeholder="حدد/ابحث (الحساب المدين)">
                                                                    <span ng-bind="$select.selected.value"></span>
                                                                </ui-select-match>
                                                                <ui-select-choices ui-disable-choice="item.status" repeat="item in (accountsArray | filter: $select.search) track by $index">
                                                                    <div ng-bind-html="item.value | highlight: $select.search"></div>
                                                                    <small ng-bind-html="item.accountCatogery | highlight: $select.search"></small>
                                                                </ui-select-choices>
                                                            </ui-select>
                                                        </div>
                                                        <div class="col-lg-5 col-md-5 col-sm-5">
                                                            <label for="amounti">
                                                                القيمة
                                                            </label>
                                                            <input class="form-control" type="number" required ng-model="debitorAccount.amount" name="amounti" placeholder="المبلغ">
                                                        </div>

                                                    </div>
                                                    <div>
                                                        <button class="btn btn-sm remove" ng-disabled="debitorAccount.amount <= 0" ng-show="$last" ng-click="addNewDebitorAccounts(debitorAccount.account);">+</button>
                                                        <button class="btn btn-sm remove" ng-disabled="debitorAccounts.length <= 1" ng-show="$last" ng-click="removeDebitorAccounts(debitorAccount.account)">-</button>

                                                    </div>

                                                </fieldset>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="bg-green-meadow bg-font-green-meadow">
                                        <div class="row" style="margin:1em;">
                                            <div data-ng-repeat="crditorAccount in crditorAccounts">
                                                <fieldset>
                                                    <div class="form-group row">
                                                        <div class="col-lg-7 col-md-7 col-sm-7">
                                                            <label for="selecti">
                                                                الحساب
                                                            </label>
                                                            <ui-select on-select="removeacc(crditorAccount.account)" ng-model="crditorAccount.account" theme="bootstrap" name="selecti">
                                                                <ui-select-match ng-click="addacc(crditorAccount.account)" allow-clear="false" placeholder="حدد/ابحث (الحساب المدين)">
                                                                    <span ng-bind="$select.selected.value"></span>
                                                                </ui-select-match>
                                                                <ui-select-choices repeat="item in (accountsArray | filter: $select.search) track by $index">
                                                                    <div ng-bind-html="item.value | highlight: $select.search"></div>
                                                                    <small ng-bind-html="item.accountCatogery | highlight: $select.search"></small>
                                                                </ui-select-choices>
                                                            </ui-select>
                                                        </div>
                                                        <div class="col-lg-5 col-md-5 col-sm-5">
                                                            <label for="amounti">
                                                                القيمة
                                                            </label>
                                                            <input class="form-control" type="number" required ng-model="crditorAccount.amount" name="amounti" placeholder="المبلغ">
                                                        </div>

                                                    </div>
                                                    <div>
                                                        <button class="btn btn-sm remove" ng-disabled="crditorAccount.amount <= 0" ng-show="$last" ng-click="addNewCrditorAccounts(crditorAccount.account);">+</button>
                                                        <button class="btn btn-sm remove" ng-disabled="crditorAccount.length <= 1" ng-show="$last" ng-click="removeCrditorAccounts(crditorAccount.account)">-</button>

                                                    </div>

                                                </fieldset>

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="bg-blue-dark bg-font-blue-dark ">
                                        <div>
                                            الاجمالي :
                                            <span>{{DebitorAccountsTotalamount()}}</span>

                                        </div>
                                    </td>
                                    <td class="bg-blue-dark bg-font-blue-dark ">
                                        <div>
                                            الاجمالي :
                                            <span>{{CrditorAccountsTotalamount()}}</span>

                                        </div>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </li>

                    <li class="list-group-item">
                        <button class="btn btn-default" ng-click="closeorderModal()" aria-hidden="true">اغلاق</button>
                        <button ng-disabled="DebitorAccountsTotalamount() != CrditorAccountsTotalamount() || CrditorAccountsTotalamount() == 0" ng-click="saveOrder()" class="btn btn-success" data-dismiss="modal" aria-hidden="true">حفظ</button>

                        <div>
                            <p ng-show="showErrorMessage" class="warning">{{message}}</p>
                        </div>
                    </li>
                </ul>

            </div>


        </div>


    </div>
    <div ng-show="!orderModal" class="portlet-body">
        <div class="form-group">
            <div  class="col-md-5 col-lg-5 col-sm-5">
                <label class="control-labe">عن الفترة</label>

                <div class="form-control" id="reportrange" style="background: #fff; cursor: pointer; padding: 3px; border: 1px solid #ccc; width: 100%">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                    <span></span> <b class="caret hidden-print"></b>
                </div>
             
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 hidden-print">
                <div class="form-group">
                    <label for="searchId">العدد</label>
                    <div class="input-group">
                        <input type="text" readonly class="form-control" id="searchId" ng-model="totalItems">

                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 hidden-print">
                <label for="pagin"> المعروض </label>
                <input id="pagin" class="form-control integer"  type="number"  step="1" min="1" max="50" ng-model="itemsperpage" />
            </div>
           

            <div class="col-lg-4 col-md-4 col-sm-4 hidden-print">
                <div class="form-group">
                    <label for="searchId">بحث</label>
                    <div class="input-group">
                        <input ng-change="searchOrder()"  ng-model="search" type="text" class="form-control" id="searchId" placeholder="ابحث برقم الاذن ">
                        <a ng-click="searchOrder()" class="input-group-addon">
                            <i class="fa fa-search font-red"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>
       

        <div class="table-scrollable">
           
            <ul class="hidden-print" ng-hide="!orders.length || totalItems.length <= 1" uib-pagination total-items="totalItems" items-per-page="itemsperpage" first-text="الاول" next-text="التالي" previous-text="السابق"  last-text="الاخير" ng-model="currentPage" ng-change="pageChanged()"></ul>

            <table id="tree_table" class="table table-hover table-bordered" >
                
                <thead style="border:2px solid">
                    <tr style="background-color:#ccc">
                        <th>  الحساب </th>
                        <th> المدين </th>
                        <th> الدائن </th>
                        <th>التاريخ</th>
                    </tr>
                </thead>
                <tbody style="border:2px solid" ng-repeat="order in orders track by order.orderId">
                    <tr class="bg-blue-sharp bg-font-blue-sharp">
                        <td>

                            <div class="btn-group">
                                <a class="btn btn-xs dropdown-toggle font-blue-ebonyclay" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <!--<span  style="font-weight:bold">   {{'قيد رقم ' + order.orderNo + ' : '}}</span>-->
                                    رقم القيد
                                    <span class="badge">{{order.orderNo }}</span>
                                </a>
                                <ul class="dropdown-menu">

                                    <li><a ng-click="editOrder(order)" data-target="#order-Modal" data-toggle="modal" href="#"><i class="fa fa-pencil fa-fw"></i> تعديل</a></li>
                                    <li><a href="#"><i class="fa fa-trash-o fa-fw"></i> حذف</a></li>

                                    <li role="separator" class="divider"></li>
                                    <li><a href="#"><i class="fa fa-send fa-fw"></i> ارسال</a></li>

                                </ul>
                            </div>
                           
                        </td>
                        <td></td>
                        <td></td>
                        <td style="font-weight:bold">{{order.orderDate | date:'d/M/yyyy'}}</td>
                    </tr>
                    <tr data-tt-id="1" class="bg-green-meadow bg-font-green-meadow">
                        <td> 
                          
                          
                        {{order.debitorAccounts.length > 1 ? 'من مذكورين' : 'من'}}
                         </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr data-tt-parent-id="1" ng-repeat="debitorAccount in order.debitorAccounts" data-tt-id="2{{debitorAccount.Key}}" ng-class="debitorAccount.amount != 0 ? 'bg-green-meadow bg-font-green-meadow' : 'bg-green-seagreen bg-font-green-seagreen'">
                        <td><a ui-sref="subLedger({acId:{{debitorAccount.account.id}} ,bId:{{branchGroub.isCompany == true ? order.companyId : order.branchId}}})" href="#/subLedger.html?acId={{debitorAccount.account.id}}&bId={{branchGroub.isCompany == true ? order.companyId : order.branchId}}" style="font-weight:bold">حـ / {{debitorAccount.account.value}} </a> <span class="font-dark">( <a class="font-dark">{{debitorAccount.account.accountCatogery}}</a> )</span> </td>
                        <td>
                            {{debitorAccount.amount}}
                            
                        </td>
                        <td>
                          --
                        </td>
                        <td></td>
                    </tr>
                   
                    <tr data-tt-id="4" data-tt-parent-id="2{{debitorAccount.Key}}" class="bg-green-seagreen bg-font-green-seagreen">
                        <td>{{order.crditorAccounts.length > 1 ? 'الي مذكورين' : 'الي'}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr ng-repeat="crditorAccount in order.crditorAccounts" data-tt-id="5" data-tt-parent-id="4" ng-class="crditorAccount.amount == 0 ? 'bg-green-meadow bg-font-green-meadow' : 'bg-green-seagreen bg-font-green-seagreen'" >
                        <td><a ui-sref="subLedger({acId:{{crditorAccount.account.id}} ,bId:{{branchGroub.isCompany == true ? order.companyId : order.branchId}}})" style="font-weight:bold">حـ / {{crditorAccount.account.value}} </a> <span class="font-dark">( <a class="font-dark">{{crditorAccount.account.accountCatogery}}</a> )</span> </td>
                        <td>
                          --
                            
                        </td>
                        <td>
                            {{crditorAccount.amount}}
                        </td>
                        <td></td>
                    </tr>
                    <tr style="border-top:1px solid;margin:2px" class="bg-blue-dark bg-font-blue-dark">
                        <td  colspan="4">
                            <div class="btn-group">
                                <a class="btn btn-xs dropdown-toggle font-blue-ebonyclay" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-cogs fa-fw"></i> 
                                    <span style="font-weight:bold">  {{' - ' +  order.orderNote}}</span>
                                </a>
                                <ul class="dropdown-menu">

                                    <li><a ng-click="editOrder(order)" data-target="#order-Modal" data-toggle="modal" href="#"><i class="fa fa-pencil fa-fw"></i> تعديل</a></li>
                                    <li><a href="#"><i class="fa fa-trash-o fa-fw"></i> حذف</a></li>

                                    <li role="separator" class="divider"></li>
                                    <li><a href="#"><i class="fa fa-send fa-fw"></i> ارسال</a></li>

                                </ul>
                            </div>
                        </td>
                    </tr>



                </tbody>
            </table>
            <ul class="hidden-print" ng-hide="!orders.length || totalItems.length <= 1" uib-pagination total-items="totalItems" items-per-page="itemsperpage" first-text="الاول" next-text="التالي" previous-text="السابق" last-text="الاخير" ng-model="currentPage" ng-change="pageChanged()"></ul>

        </div>
    </div>

    <div id="order-Modal" class="modal container fade" tabindex="-1" data-backdrop="static" data-keyboard="false" data-attention-animation="false">
       
        <div class="modal-body">
            <div class="portlet box grey-gallery">
                <div class="portlet-title">
                    <div class="caption">
                        {{ OrderTo.orderId == 0 ? ('انشاء اذن رقم ' + OrderTo.orderNo) : ('تعديل اذن رقم ' + OrderTo.orderNo)}}
                    </div>

                </div>
                <div class="portlet-body">
                     <ul  class="list-group">
                         <li style="background-color:#ccc"  class="list-group-item">
                             <div class="caption">

                                 <div class="form-group">
                                     <label for="usr">البيان:</label>
                                     <input ng-model="OrderTo.orderNote" type="text" class="form-control" id="usr">
                                 </div>

                             </div>
                         </li>
                         <li style="background-color:#ccc"  class="list-group-item">
                             <table class="table table-responsive table-bordered">


                                 <thead>
                                     <tr style="background-color:#6ba7c4">
                                         <th style="text-align:center" class="bg-green-seagreen bg-font-green-seagreen"> المدين - {{DebitorAccountsTotalamount()}} </th>
                                         <th style="text-align:center" class="bg-green-meadow bg-font-green-meadow"> الدائن - {{CrditorAccountsTotalamount()}} </th>

                                     </tr>
                                 </thead>
                                 <tbody>
                                     <tr>
                                         <td  class="bg-green-seagreen bg-font-green-seagreen">
                                             <div class="row" style="margin:1em;">
                                                 <div data-ng-repeat="debitorAccount in debitorAccounts track by $index">

                                                     <fieldset>
                                                         <div class="form-group row">
                                                             <div class="col-lg-7 col-md-7 col-sm-7">
                                                                 <label for="selecti">
                                                                     الحساب
                                                                 </label>
                                                                 <ui-select on-select="removeacc(debitorAccount.account)" ng-model="debitorAccount.account" theme="bootstrap" name="selecti">
                                                                     <ui-select-match ng-click="addacc(debitorAccount.account)" allow-clear="false" placeholder="حدد/ابحث (الحساب المدين)">
                                                                         <span ng-bind="$select.selected.value"></span>
                                                                     </ui-select-match>
                                                                     <ui-select-choices ui-disable-choice="item.status" repeat="item in (accountsArray | filter: $select.search) track by $index">
                                                                         <div ng-bind-html="item.value | highlight: $select.search"></div>
                                                                         <small ng-bind-html="item.accountCatogery | highlight: $select.search"></small>
                                                                     </ui-select-choices>
                                                                 </ui-select>
                                                             </div>
                                                             <div class="col-lg-5 col-md-5 col-sm-5">
                                                                 <label for="amounti">
                                                                     القيمة
                                                                 </label>
                                                                 <input class="form-control" type="number" required ng-model="debitorAccount.amount" name="amounti" placeholder="المبلغ">
                                                             </div>

                                                         </div>
                                                         <div>
                                                             <button class="btn btn-sm remove" ng-disabled="debitorAccount.amount <= 0" ng-show="$last" ng-click="addNewDebitorAccounts(debitorAccount.account);">+</button>
                                                             <button class="btn btn-sm remove" ng-disabled="debitorAccounts.length <= 1" ng-show="$last" ng-click="removeDebitorAccounts(debitorAccount.account)">-</button>

                                                         </div>

                                                     </fieldset>
                                                 </div>
                                             </div>
                                         </td>
                                         <td class="bg-green-meadow bg-font-green-meadow">
                                             <div class="row" style="margin:1em;">
                                                 <div data-ng-repeat="crditorAccount in crditorAccounts">
                                                     <fieldset>
                                                         <div class="form-group row">
                                                             <div class="col-lg-7 col-md-7 col-sm-7">
                                                                 <label for="selecti">
                                                                     الحساب
                                                                 </label>
                                                                 <ui-select on-select="removeacc(crditorAccount.account)" ng-model="crditorAccount.account" theme="bootstrap" name="selecti">
                                                                     <ui-select-match ng-click="addacc(crditorAccount.account)" allow-clear="false" placeholder="حدد/ابحث (الحساب المدين)">
                                                                         <span ng-bind="$select.selected.value"></span>
                                                                     </ui-select-match>
                                                                     <ui-select-choices repeat="item in (accountsArray | filter: $select.search) track by $index">
                                                                         <div ng-bind-html="item.value | highlight: $select.search"></div>
                                                                         <small ng-bind-html="item.accountCatogery | highlight: $select.search"></small>
                                                                     </ui-select-choices>
                                                                 </ui-select>
                                                             </div>
                                                             <div class="col-lg-5 col-md-5 col-sm-5">
                                                                 <label for="amounti">
                                                                     القيمة
                                                                 </label>
                                                                 <input class="form-control" type="number" required ng-model="crditorAccount.amount" name="amounti" placeholder="المبلغ">
                                                             </div>

                                                         </div>
                                                         <div>
                                                             <button class="btn btn-sm remove" ng-disabled="crditorAccount.amount <= 0" ng-show="$last" ng-click="addNewCrditorAccounts(crditorAccount.account);">+</button>
                                                             <button class="btn btn-sm remove" ng-disabled="crditorAccount.length <= 1" ng-show="$last" ng-click="removeCrditorAccounts(crditorAccount.account)">-</button>

                                                         </div>

                                                     </fieldset>

                                                 </div>
                                             </div>
                                         </td>
                                     </tr>
                                     <tr>
                                         <td class="bg-blue-dark bg-font-blue-dark ">
                                             <div>
                                                 الاجمالي :
                                                 <span>{{DebitorAccountsTotalamount()}}</span>

                                             </div>
                                         </td>
                                         <td class="bg-blue-dark bg-font-blue-dark ">
                                             <div>
                                                 الاجمالي :
                                                 <span>{{CrditorAccountsTotalamount()}}</span>

                                             </div>
                                         </td>
                                     </tr>
                                 </tbody>

                             </table>
                         </li>
                      
                         <li class="list-group-item">
                             <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">اغلاق</button>
                             <button ng-disabled="DebitorAccountsTotalamount() != CrditorAccountsTotalamount() || CrditorAccountsTotalamount() == 0" ng-click="saveOrder()" class="btn btn-success" data-dismiss="modal" aria-hidden="true">حفظ</button>

                             <div>
                                 <p ng-show="showErrorMessage" class="warning">{{message}}</p>
                             </div>
                         </li>
                     </ul>
                   
                </div>
                

            </div>
     

        </div>
        
    </div>
</div>

<script src="../assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript"></script>
<script src="../assets/pages/scripts/ui-extended-modals.min.js" type="text/javascript"></script>
<script src="../assets/pages/scripts/ui-buttons.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<script src="../assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
<script src="../Scripts/js-custom-select-master.js"></script>
<script src="../assets/pages/scripts/form-validation-md.min.js" type="text/javascript"></script>
<script>
    $("#tree_table").treetable();


    //date
    $(".integer").keypress(function (e) {
        if (e.which < 48 || e.which > 57) {
            showAdvice(this, "ارقام طبيعيه فقط");
            return (false);
        }
    });


    $(".decimal").keypress(function (e) {
        // 46 is a period
        if (e.which != 46 && (e.which < 48 || e.which > 57)) {
            showAdvice(this, "Decimal numbers only");
            return (false);
        }
        if (e.which == 46 && this.value.indexOf(".") != -1) {
            showAdvice(this, "Only one period allowed in decimal numbers");
            return (false);   // only one decimal allowed
        }


    });

    function showAdvice(obj, msg) {
        $("#singleAdvice").stop(true, false).remove();
        $('<span id="singleAdvice" class="advice">' + msg + '</span>').insertAfter(obj);
        $("#singleAdvice").delay(4000).fadeOut(1500);
    }

</script>


