﻿<ol class="breadcrumb">
    <li><a href="/Inventory/Accounts/">حسابات</a></li>
    <li class="active">{{catName}}</li>
</ol>


<!--<div class="row" style="margin:1em"><h1>{{catName}}</h1></div>-->


<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">{{catName}}</h2>
        </div>
        <div class="panel-body">
            <div class="span10">
                <div class="well well-sm">
                    <div class="btn-group">
                        <button class="btn btn-warning btn-group-sm" type="button" data-toggle="modal" data-target="#delModal">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                            اضافه
                        </button>

                    </div>
                    <div class="btn-group">
                        <button class="btn btn-info btn-group-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            تقارير<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Report 1</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Report 2</a></li>
                        </ul>
                    </div>


                </div>
                <div ng-repeat="i in Accounts | orderBy:'-(debit -(-(crdit)))'" class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="pdsa-summary-block">
                        <div class="summary-background">
                            <i class=""></i>
                        </div>
                        <div class="summary-body">
                            <div class="summary-line1">
                                {{i.name}}

                            </div>

                            <div class="summary-line2 table-responsive">

                                <table class="table table-bordered">

                                    <thead>
                                        <tr class="info">
                                            <th class="text-center">
                                                مدين
                                                <span ng-if="i.debit > i.crdit" class="arrow-down glyphicon glyphicon-arrow-down"></span>
                                                <span ng-if="i.debit < i.crdit" class="arrow-up glyphicon glyphicon-arrow-up"></span>
                                                <span ng-if="i.debit == i.crdit"></span>

                                            </th>

                                            <th class="text-center">
                                                دائن
                                                <span ng-if="i.debit < i.crdit" class="arrow-down glyphicon glyphicon-arrow-down"></span>
                                                <span ng-if="i.debit > i.crdit" class="arrow-up glyphicon glyphicon-arrow-up"></span>
                                                <span ng-if="i.debit == i.crdit"></span>
                                            </th>

                                            <th class="text-center">الاجمالي</th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        <tr>

                                            <td>{{i.debit | currency}}</td>
                                            <td>{{i.crdit | currency}}</td>
                                            <td>{{i.debit - i.crdit | currency}}</td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                            <div class="summary-line3">

                            </div>
                        </div>
                        <div class="summary-footer">
                            <a href="/Inventory/Accounts/{{catName}}/AccountDetails/{{i.name}}">
                                التفاصيل
                                <i class="glyphicon glyphicon-chevron-left pull-left"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="delModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">اضافه حساب</h4>
                </div>
                <div class="modal-body">
                    Are you sure you wnat to delete this item
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">اغلاق</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="delete()">حفظ</button>
                </div>
            </div>
        </div>
    </div>

</div>
