﻿<style>
    .form-control {
    background-color: white !important;
    color: black !important;
}
</style>

<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
        <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
        <li class="sidebar-search-wrapper">
            <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
            <!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
            <!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
            <div class="sidebar-search sidebar-search-bordered">
                <a href="javascript:;" class="remove">
                    <i class="icon-close"></i>
                </a>
                <div class="input-group" style="width:100%;border:none;text-align:center;">
                    <a class="form-control" href="#" buttons="no" editable-select="mainbranchGroub.id" e-ng-options="c.id as c.name group by c.companyName for c in mainbranchesGroub" style="color:#ffffff !important; font-weight:bold !important;font-size: 18px !important;border: none !important;background-color: transparent !important;">
                        {{ mainbranchGroub.fullName || 'حدد الشركة'}}
                       
                    </a>
                    <span class="input-group-btn">
                        <a href="javascript:;" class="btn submit">
                            <i class="icon-magnifier hidden"></i>
                        </a>
                    </span>
                    <!--<input type="text" class="form-control" placeholder="بحث...">
                    <span class="input-group-btn">
                        <a href="javascript:;" class="btn submit">
                            <i class="icon-magnifier"></i>
                        </a>
                    </span>-->
                </div>
            </div>
            <!-- END RESPONSIVE QUICK SEARCH FORM -->
        </li>
        <li class="start nav-item">

            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-home"></i>
                <span class="title">القائمة</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li ng-class="{active: $state.includes('dashboard')}">
                    <a href="#/dashboard">
                        <i class="fa fa-binoculars"></i><span> الرئيسية</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="fa fa-calculator"></i>
                        <span class="title">حسابات</span>
                        <span class="arrow"></span>
                    </a>
                
                    <ul class="sub-menu">
                        <li ng-class="{active: $state.includes('generaljournal')}">
                            <a href="#/generaljournal">
                                <i class="fa fa-calendar"></i> <span>دفتر اليومية </span>
                            </a>
                        </li>
                        <li ng-class="{active: $state.includes('subLedger')}">
                            <a href="#/subLedger">
                                <i class="fa fa-file-o"></i><span> الاستاذ المساعد</span>
                            </a>
                        </li>
                        <li ng-class="{active: $state.includes('generalLedger')}">
                            <a href="#/generalLedger">
                                <i class="icon-paper-clip"></i><span> الاستاذ العام</span>
                            </a>
                        </li>
                        <li ng-class="{active: $state.includes('trialBalance')}">
                            <a href="#/trialBalance">
                                <i class="fa fa-balance-scale"></i><span> ميزان المراجعة</span>
                            </a>
                        </li>
                        <li ng-class="{active: $state.includes('financialStatements')}">
                            <a href="#/financialStatements">
                                <i class="glyphicon glyphicon-list-alt"></i><span> قوائم مالية</span>
                            </a>
                        </li>
                    </ul>

                </li>
                <li class="nav-item">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="glyphicon glyphicon-usd"></i>
                        <span class="title">نقود وبنوك</span>
                        <span class="arrow"></span>
                    </a>

                    <ul class="sub-menu">
                        <li ng-class="{active: $state.includes('cash')}">
                            <a href="#/cash">
                                <i class="glyphicon glyphicon-briefcase"></i> <span>النقود</span>
                            </a>
                        </li>
                        <li ng-class="{active: $state.includes('banks')}">
                            <a href="#/banks">
                                <i class="fa fa-university"></i><span> البنوك</span>
                            </a>
                        </li>
                        <li ng-class="{active: $state.includes('notespayable')}">
                            <a href="#/notespayable">
                                <i class="glyphicon glyphicon-open-file"></i><span> اوراق دفع</span>
                            </a>
                        </li>
                        <li ng-class="{active: $state.includes('notesreceivable')}">
                            <a href="#/notesreceivable">
                                <i class="glyphicon glyphicon-save-file"></i><span> اوراق قيض</span>
                            </a>
                        </li>
                    </ul>

                </li>

                <li class="nav-item">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="glyphicon glyphicon-briefcase"></i>
                        <span class="title">مشتريات</span>
                        <span class="arrow"></span>
                    </a>

                    <ul class="sub-menu">
                        <li class="nav-item">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="fa fa-file-excel-o"></i>
                                <span class="title">فواتير المشتريات</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li ng-class="{active: $state.includes('orders')}">
                                    <a href="#/orders">
                                        <i class="fa fa-file-o"></i><span> فاتورة شراء</span>
                                    </a>
                                </li>
                                <li ng-class="{active: $state.includes('purchasereturns')}">
                                    <a href="#/purchasereturns">
                                        <i class="fa fa-file-o"></i><span> رد مشتريات</span>
                                    </a>
                                </li>
                            </ul>

                        </li>
                        <li class="nav-item">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="fa fa-file"></i>
                                <span class="title">اوامر المشتريات</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li ng-class="{active: $state.includes('purorder')}">
                                    <a href="#/purorder">
                                        <i class="fa fa-file-o"></i><span> امر شراء</span>
                                    </a>
                                </li>
                                <li ng-class="{active: $state.includes('purreturnorder')}">
                                    <a href="#/purreturnorder">
                                        <i class="fa fa-file-o"></i><span> امر رد</span>
                                    </a>
                                </li>
                            </ul>

                        </li>
                        <li ng-class="{active: $state.includes('suppliers')}">
                            <a href="#/suppliers">
                                <i class="fa fa-group"></i> <span>حسابات الموردون</span>
                            </a>
                        </li>
                        
                  
                       
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-print"></i><span> تقرير المشتريات</span>
                            </a>
                        </li>
                      
                    </ul>

                </li>
                <li class="nav-item">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="fa fa-shopping-cart"></i>
                        <span class="title">مبيعات</span>
                        <span class="arrow"></span>
                    </a>

                    <ul class="sub-menu">
                        <li class="nav-item">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="fa fa-file-excel-o"></i>
                                <span class="title">فواتير المبيعات</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li ng-class="{active: $state.includes('salesorders')}">
                                    <a href="#/salesorders">
                                        <i class="fa fa-file-o"></i><span> فاتورة بيع</span>
                                    </a>
                                </li>
                                <li ng-class="{active: $state.includes('salesreturns')}">
                                    <a href="#/salesreturns">
                                        <i class="fa fa-file-o"></i><span> رد مبيعات</span>
                                    </a>
                                </li>
                            </ul>

                        </li>
                        <li class="nav-item">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="fa fa-file"></i>
                                <span class="title">اوامر المبيعات</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li ng-class="{active: $state.includes('sorder')}">
                                    <a href="#/sorder">
                                        <i class="fa fa-file-o"></i><span> امر بيع</span>
                                    </a>
                                </li>
                                <li ng-class="{active: $state.includes('sreturnorder')}">
                                    <a href="#/sreturnorder">
                                        <i class="fa fa-file-o"></i><span> امر رد</span>
                                    </a>
                                </li>
                            </ul>

                        </li>
                        <li ng-class="{active: $state.includes('customers')}">
                            <a href="#/customers">
                                <i class="fa fa-group"></i> <span>حسابات العملاء</span>
                            </a>
                        </li>
                       
                     
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-print"></i><span> تقرير المبيعات</span>
                            </a>
                        </li>
                      

                    </ul>

                </li>
                <li class="nav-item">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="glyphicon glyphicon-object-align-right"></i>
                        <span class="title">مخازن</span>
                        <span class="arrow"></span>
                    </a>

                    <ul class="sub-menu">
                        <li class="nav-item">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="glyphicon glyphicon-file"></i>
                                <span class="title">اذون</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                              
                                <li ng-class="{active: $state.includes('inorder')}">
                                    <a href="#/inorder">
                                        <i class="fa fa-file-o"></i><span> اذن اضافة</span>
                                    </a>
                                </li>
                                <li  ng-class="{active: $state.includes('outorder')}">
                                    <a href="#/outorder">
                                        <i class="fa fa-file-o"></i><span> اذن صرف</span>
                                    </a>
                                </li>
                            </ul>

                        </li>
                        <li class="nav-item">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="glyphicon glyphicon-transfer"></i>
                                <span class="title">تحويلات</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li ng-class="{active: $state.includes('inventorytransfer')}">
                                    <a href="#/inventorytransfer">
                                        <i class="fa fa-file-o"></i><span> تحويل وارد</span>
                                    </a>
                                </li>
                                <li ng-class="{active: $state.includes('inventorytransferin')}">
                                    <a href="#/inventorytransferin">
                                        <i class="fa fa-file-o"></i><span> تحويل صادر</span>
                                    </a>
                                </li>
                            </ul>

                        </li>
                        <li ng-class="{active: $state.includes('items')}">
                            <a href="#/items">
                                <i class="fa fa-truck"></i><span> اصناف</span>
                            </a>
                        </li>
                        <li ng-class="{active: $state.includes('purchaserequest')}">
                            <a href="#/purchaserequest">
                                <i class="glyphicon glyphicon-file"></i><span> طلب شراء</span>
                            </a>
                        </li>
                        <!--<li>
                            <a>
                                <i class="glyphicon glyphicon-file"></i><span> لجنة فحص</span>
                            </a>
                        </li>-->
                        <li ng-class="{active: $state.includes('inventorycards')}">
                            <a href="#/inventorycards">
                                <i class="glyphicon glyphicon-print"></i><span> تقارير</span>
                            </a>
                        </li>

                    </ul>

                </li>
                
            </ul>
        </li>
   
        <li class="nav-item">
            <a href="" class="nav-link nav-toggle">
                <i class="fa fa-cogs"></i>
                <span class="title">اعدادات</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
               
                <li ng-class="{active: $state.includes('configuration')}">
                    <a href="#/configuration">
                        <i class="icon-settings"></i> اعداد الشركات
                    </a>
                </li>
                <li ng-class="{active: $state.includes('ordersconfiguration')}">
                    <a href="#/ordersconfiguration">
                        <i class="icon-settings"></i> اوامر البيع والشراء
                    </a>
                </li>
                <li ng-class="{active: $state.includes('profile.help')}">
                    <a ui-sref="profile.help">
                        <i class="icon-info"></i> مساعدة
                    </a>
                </li>
            </ul>


        </li>
        <li class="nav-item">
            <a href="" class="nav-link nav-toggle">
                <i class="fa fa-users"></i>
                <span class="title">مستخدمين</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li ng-class="{active: $state.includes('profile.dashboard')}">
                    <a ui-sref="profile.dashboard">
                        <i class="fa fa-user"></i> حسابي
                    </a>
                </li>
                <li ng-class="{active: $state.includes('profile.account')}">
                    <a ui-sref="profile.account">
                        <i class="fa fa-bar-chart"></i> نظرة عامة
                    </a>
                </li>

            </ul>


        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>

