﻿
<link href="/Content/jquery.treetable.css" rel="stylesheet" />
<link href="../Content/jquery.treetable.theme.default.css" rel="stylesheet" />
<link href="../assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css" />
<link href="../assets/apps/css/todo-rtl.min.css" rel="stylesheet" type="text/css" />
<link href="/Content/model-add-company.css" rel="stylesheet" />
<link href="../assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../Content/js-custom-select-master.css" rel="stylesheet" />
<link href="../Scripts/tree/themes/default/style.css" rel="stylesheet" />
<link href="../Scripts/tree/themes/default-dark/style.min.css" rel="stylesheet" />

<style>


    .ui-select-bootstrap .ui-select-toggle > .caret {
        right: initial;
        left: 10px; /* or any other value - it should be the same as the original right value */
    }


    .ui-select-bootstrap > .ui-select-match > .btn {
        text-align: right !important;
        direction: rtl;
    }


        .ui-select-bootstrap > .ui-select-match > .btn > span.pull-left {
            float: right !important;
        }

    fieldset {
        background: #FCFCFC;
        padding: 16px;
        border: 1px solid #D5D5D5;
    }

    .addfields {
        margin: 10px 0;
    }

    #choicesDisplay {
        margin-top: 10px;
        padding: 10px;
        background: rgb(227, 250, 227);
        border: 1px solid rgb(171, 239, 171);
        color: rgb(9, 56, 9);
    }

    .remove {
        background: #C76868;
        color: #FFF;
        font-weight: bold;
        font-size: 21px;
        border: 0;
        cursor: pointer;
        display: inline-block;
        padding: 4px 9px;
        vertical-align: top;
        line-height: 100%;
    }
article, article address, table.meta, table.inventory { margin: 0 0 3em; }
article:after { clear: both; content: ""; display: table; }

table.meta { font-size: 100%;font-weight:bold; table-layout: fixed; width: 100%; }
table.meta {  border-spacing: 2px; }
table.meta th,table.meta td { border-width: 1px; padding: 0.5em; position: relative; text-align: right; }
table.meta th, table.meta td { border-radius: 0.25em; border-style: solid; }
table.meta th { background: #EEE; border-color: #BBB; }
table.meta td { border-color: #DDD; }
    /* table meta & balance */

table.meta, table.balance { float: right; width: 36%; }
table.meta:after, table.balance:after { clear: both; content: ""; display: table; }
    /* table meta */
   
table.meta {  margin-bottom: 1em; }
table.meta th { width: 40%; }
table.meta td { width: 60%; }
@media print {
    .add-border{border-top:1px solid black}
	html { background: none; padding: 0 !important;margin:0 !important}
	body { box-shadow: none !important; margin: 0!important;padding:0!important; -webkit-print-color-adjust: exact !important;}
	span:empty { display: none; }
	table.items th { border:1px solid !important }
    table.items td { border:1px solid !important }
    body, html {
margin-top:0px !important;
padding-top:0px !important;
}
  input[type="checkbox"]
  {
    visibility: hidden;
  }


  input[type="checkbox"][checked]
  {
    visibility: visible;
  }

 @page { margin-top: 0 !important; margin-bottom:0 !important}
 @page  {margin:1px;margin-bottom:1px }
th { border-color: #000 !important; border-right:0px !important;border-left:0px !important}
td { border-color: #000 !important; border-right:0px !important;border-left:0px !important}

#footercompany{
   page-break-inside:avoid; page-break-after:auto
}
.page-break	{ display: block !important; page-break-before: always !important; }
table { page-break-after:auto !important }
  tr    { page-break-inside:avoid !important; page-break-after:auto !important }
  td    { page-break-inside:avoid !important; page-break-after:auto !important }
  thead { display:table-header-group !important }
  tfoot { display:table-footer-group  !important}
 
}
</style>
<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">الرئيسية</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">حسابات</a>
            <i class="fa fa-circle"></i>

        </li>
        <li>
            <a href="#">مخازن مواد وسلع</a>
        </li>
    </ul>

</div>

<h3 class="page-title"></h3>
<div ng-controller="inventoryCardController">
    <div class="row hidden-print">

        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="note note-danger hidden-print">
                <div class="caption">
                    مواد وسلع -
                    <a href="#" editable-select="branchGroub.id" onshow="loadCompanies()" e-ng-options="c.id as c.name group by c.companyName for c in branchesGroub">
                        {{ branchGroub.fullName}}
                    </a>

                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="note note-success hidden-print">
                <div class="caption">
                    المخزن -
                    <a buttons="no" href="#" editable-select="selectedInventory.accountId" e-ng-options="c.accountId as c.accountName for c in InventoryAccounts">
                        {{selectedInventory.accountName}}
                    </a>
                </div>

            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row">

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group form-md-radios">
                        <div class="md-radio-inline">
                            <div class="md-radio">
                                <input type="radio" id="radioinventoryValuation" ng-model="reportChange" value="item" name="radioinventoryValuation" class="md-radiobtn">
                                <label for="radioinventoryValuation">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span> حركة صنف
                                </label>
                            </div>
                            <div class="md-radio">
                                <input type="radio" id="radio2" ng-model="reportChange" value="itemGroup" name="radioinventoryValuation" class="md-radiobtn">
                                <label for="radio2">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span> وحدة
                                </label>
                            </div>
                            <div class="md-radio">
                                <input type="radio" id="radio4" name="radioinventoryValuation" ng-model="reportChange" value="allItem" class="md-radiobtn">
                                <label for="radio4">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span> جميع الاصناف
                                </label>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="form-control" id="reportrange">
                                &nbsp;
                                <span></span> <b class="caret hidden-print"></b>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12"  ng-if="reportChange === 'item' || reportChange === 'itemGroup'">
            <div class="row hidden-print">
                <div class="col-lg-3 col-md-3 col-sm-3 hidden-print" ng-if="reportChange === 'item' || reportChange === 'itemGroup'">
                    <div ng-disabled="branchGroub.fullName == 'حدد الشركة - الفرع' || accountsArray.length <= 0" class="form-group">
                        <label for="selecti">
                            {{reportChange === 'item' ? 'الصنف' : (reportChange === 'itemGroup' ? 'الوحدة' : '')  }}

                        </label>
                        <div>
                            <ui-select id="ui{{key}}" autofocus ng-model="selecteditems" on-select="getItemMoves($item)" theme="bootstrap">
                                <ui-select-match>
                                    <span id="binditem" ng-bind="$select.selected.itemPropertyValueName"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item in (items | filter: $select.search) track by item.itemPropertyValueId">

                                    <div ng-bind-html="item.itemPropertyValueName | highlight: $select.search"></div>
                                    <small>
                                        {{reportChange === 'item' ? 'كود' : 'الوحدة'}}: {{item.code}}
                                    </small>
                                </ui-select-choices>
                                <ui-select-no-choice>
                                    غير موجود
                                </ui-select-no-choice>
                            </ui-select>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet box grey-gallery" ng-show="itemMove.itemMoves.length > 0">
        <div class="portlet-title add-border">
            <div class="caption hidden-print" style="width:100%;text-align:center" ng-if="reportChange === 'item'">
                {{'كارتة صنف '  + selecteditemfor + ' - مخزن ' + selectedInventory.accountName}}
            </div>
            <div class="caption hidden-print" style="width:100%;text-align:center" ng-if="reportChange === 'itemGroup'">
                {{'تقرير حركة وحدة'  + ' - ' + selecteditemfor + ' - مخزن ' + selectedInventory.accountName}}

            </div>
            <div class="caption hidden-print" style="width:100%;text-align:center" ng-if="reportChange === 'allItem'">
                {{'تقرير '  +' - مخزن ' + selectedInventory.accountName}}

            </div>
            <div class="caption visible-print" style="width:100%;text-align:center">
                <table style="float:right">
                    <tr>
                        <th>
                            الشركة :
                        </th>
                        <td>
                            {{branchGroub.fullName}}
                        </td>
                    </tr>
                </table>
                <table style="float:left">
                    <tr>
                        <th>
                            عدد الصفوف :
                        </th>
                        <td>
                            {{totalItems}}
                        </td>
                    </tr>
                </table>
                <br />
                <hr />

                <a href="#" ng-if="reportChange === 'item'">
                    {{'كارتة صنف '  + selecteditemfor + ' - مخزن ' + selectedInventory.accountName}}
                </a>
                <a href="#" ng-if="reportChange === 'itemGroup'">
                    {{'تقرير حركة وحدة'  + ' - ' + selecteditemfor + ' - مخزن ' + selectedInventory.accountName}}
                </a>
                <a href="#" ng-if="reportChange === 'allItem'">
                    {{'تقرير'  + ' - مخزن ' + selectedInventory.accountName}}
                </a>
                <hr />
                <div>
                    من  {{startDate | date:'dd/MM/yyyy'}} الي {{ endDate | date:'dd/MM/yyyy'}}
                </div>

            </div>


        </div>
        <div class="portlet-body">

            <article style="margin:1em;">


                <div class="panel panel-default" style="padding-bottom:0px;border-bottom:0px;margin-top:2em">
                    <div class="panel-body" style="padding-bottom: 0px;">
                      
                        <hr style="margin:0 !important;">
                        <table class="meta visible-print" style="float:left">

                            <tr>
                                <th style="border-top:0px"><span> تاريخ الطباعة</span></th>

                                <td style="text-align:right;border-top:0px">
                                    <span style="float: right;">
                                        {{nowDate}}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th><span>المسؤل</span></th>
                                <td><span></span></td>
                            </tr>

                        </table>
                        <table class="meta hidden-print" style="float:left">

                            <tr>
                                <th style="border-top:0px"><span> عدد الصفوف</span></th>

                                <td style="text-align:right;border-top:0px">
                                    <span style="float: right;">
                                        {{totalItems}}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th><span>الصفوف المعروضة</span></th>
                                <td>
                                    <input id="pagin" class="form-control integer" type="number" step="1" min="1" max="200" ng-model="itemsperpage" />
                                </td>
                            </tr>

                        </table>
                        <!--<div ng-disabled="!accountMoves.length" class="col-lg-2 col-md-2 col-sm-2 hidden-print">
                            <div class="form-group">
                                <label for="searchId">العدد</label>
                                <div class="input-group">
                                    <input type="text" readonly class="form-control" id="searchId" ng-model="totalItems">

                                </div>
                            </div>
                        </div>
                        <div ng-disabled="!accountMoves.length" class="col-lg-2 col-md-2 col-sm-2 hidden-print">
                            <label for="pagin"> المعروض </label>
                            <div class="input-group">
                                <input id="pagin" class="form-control integer" type="number" step="1" min="1" max="200" ng-model="itemsperpage" />

                            </div>

                        </div>-->
                        <table class="meta">
                            <tr>
                                <th style="border-top:0px">
                                    <span data-toggle="tooltip" title="يعتبر معدل الدوران مؤشرا لمدي ملائمة حجم الاستمار في هذا المخزون , وهذا الرقم يعني ان كل جنية مستمر في هذا الصنف/المخزون يحقق مبيعات تبلغ تكلفتها {{itemMove.turnoverRate + ' جنية'}}">
                                        معدل الدوران

                                    </span>
                                </th>
                                <td style="border-top:0px">
                                    <span data-toggle="tooltip" title="يعتبر معدل الدوران مؤشرا لمدي ملائمة حجم الاستمار في هذا المخزون , وهذا الرقم يعني ان كل جنية مستمر في هذا الصنف/المخزون يحقق مبيعات تبلغ تكلفتها {{itemMove.turnoverRate + ' جنية'}}">
                                        {{itemMove.turnoverRate + ' مرة'}}
                                    </span>

                                </td>
                            </tr>
                            <tr>
                                <th><span data-toggle="tooltip" title="هي متوسط فترة بقاء الصنف/البضاعة المشتراه في المخزن حتي يتم بيعه/بيعها"> فترة التخزين</span></th>
                                <td><span data-toggle="tooltip" title="هي متوسط فترة بقاء الصنف/البضاعة المشتراه في المخزن حتي يتم بيعه/بيعها">{{itemMove.stockRate + ' يوم'}}</span></td>
                            </tr>
                            <tr>
                                <th><span>قيمة المخزون</span></th>
                                <td><span>{{itemMove.total + ' جـ'}}</span></td>
                            </tr>
                        </table>
                    </div>
                </div>


            </article>

            <div class="row" ng-show="reportChange === 'item'">
                <div class="row" style="margin:5px !important">
                    <ul class="hidden-print" ng-hide="!itemMove.itemMoves.length || totalItems.length <= 1" uib-pagination total-items="totalItems" items-per-page="itemsperpage" first-text="الاول" next-text="التالي" previous-text="السابق" last-text="الاخير" ng-model="currentPage" ng-change="pageChanged()"></ul>
  
                </div>
                <div class="col-lg-12">
                    <table id="loading-bar-container" class="table table-striped table-bordered table-hover items">
                        <thead>
                            <tr>
                                <th style="text-align:center;vertical-align:middle;border:1px solid black" rowspan="2">
                                    #
                                </th>
                                <th style="text-align:center;vertical-align:middle;border:1px solid black" rowspan="2">
                                    <a ng-click="sortType = 'moveDate'; sortReverse = !sortReverse">
                                        التاريخ
                                        <span ng-show="sortType == 'moveDate' && !sortReverse" class="hidden-print fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'moveDate' && sortReverse" class="hidden-print fa fa-caret-up"></span>
                                    </a>

                                </th>
                                <th style="text-align:center;vertical-align:middle;border:1px solid black" rowspan="2">
                                    البيان
                                </th>
                                <th style="text-align:center;vertical-align:middle;border:1px solid black" colspan="3">
                                    الوارد

                                </th>
                                <th style="text-align:center;vertical-align:middle;border:1px solid black;border-right:3px solid;border-left:3px solid" colspan="3">
                                    الصادر

                                </th>
                                <th style="text-align:center;vertical-align:middle;border:1px solid black" colspan="3">
                                    الرصيد

                                </th>

                            </tr>
                            <tr>
                                <th style="text-align:center;vertical-align:middle;border:1px solid black">
                                    االكمية
                                </th>
                                <th style="text-align:center;vertical-align:middle;border:1px solid black">
                                    السعر
                                </th>
                                <th style="text-align:center;vertical-align:middle;border:1px solid black">
                                    القيمة
                                </th>
                                <th style="text-align:center;vertical-align:middle;border:1px solid black;border-right:3px solid">
                                    االكمية
                                </th>
                                <th style="text-align:center;vertical-align:middle;border:1px solid black">
                                    السعر
                                </th>
                                <th style="text-align:center;vertical-align:middle;border:1px solid black;border-left:3px solid">
                                    القيمة
                                </th>
                                <th style="text-align:center;vertical-align:middle;border:1px solid black">
                                    االكمية
                                </th>
                                <th style="text-align:center;vertical-align:middle;border:1px solid black">
                                    السعر
                                </th>
                                <th style="text-align:center;vertical-align:middle;border:1px solid black">
                                    القيمة
                                </th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr>

                                <td style="text-align:center;vertical-align:middle;border:1px solid black" colspan="3">رصيد اول الفترة</td>
                                <td style="text-align:center;vertical-align:middle;border:1px solid black">
                                    0
                                </td>
                                <td style="text-align:center;vertical-align:middle;border:1px solid black">
                                    0
                                </td>
                                <td style="text-align:center;vertical-align:middle;border:1px solid black">
                                    0
                                </td>
                                <td style="text-align:center;vertical-align:middle;border:1px solid black;border-right:3px solid">
                                    0
                                </td>
                                <td style="text-align:center;vertical-align:middle;border:1px solid black">
                                    0
                                </td>
                                <td style="text-align:center;vertical-align:middle;border:1px solid black;border-left:3px solid">
                                    0
                                </td>
                                <td style="text-align:center;vertical-align:middle;border:1px solid black">
                                    {{itemMove.firsMove.totalstockqty}}
                                </td>
                                <td style="text-align:center;vertical-align:middle;border:1px solid black">
                                    {{itemMove.firsMove.stockprice}}
                                </td>
                                <td style="text-align:center;vertical-align:middle;border:1px solid black">
                                    {{itemMove.firsMove.totalstockPrice}}
                                </td>
                            </tr>
                            <tr ng-repeat="item in itemMove.itemMoves">
                                <td style="text-align:center;vertical-align:middle;border:1px solid black">{{item.indexNo}}</td>
                                <td style="text-align:center;vertical-align:middle;border:1px solid black">{{item.moveDate | date:'dd/MM/yyyy'}}</td>
                                <td style="text-align:center;vertical-align:middle;border:1px solid black">{{item.note}}</td>

                                <td style="text-align:center;vertical-align:middle;border:1px solid black">
                                    {{item.qtyin}}
                                </td>
                                <td style="text-align:center;vertical-align:middle;border:1px solid black">
                                    {{item.pricein}}
                                </td>
                                <td style="text-align:center;vertical-align:middle;border:1px solid black">
                                    {{item.totalPricein}}
                                </td>
                                <td style="text-align:center;vertical-align:middle;border:1px solid black;border-right:3px solid">
                                    {{item.qtyout}}
                                </td>
                                <td style="text-align:center;vertical-align:middle;border:1px solid black">
                                    {{item.priceout}}
                                </td>
                                <td style="text-align:center;vertical-align:middle;border:1px solid black;border-left:3px solid">
                                    {{item.totalPriceout}}
                                </td>
                                <td style="text-align:center;vertical-align:middle;border:1px solid black">
                                    {{item.totalstockqty}}
                                </td>
                                <td style="text-align:center;vertical-align:middle;border:1px solid black">
                                    {{item.stockprice}}
                                </td>
                                <td style="text-align:center;vertical-align:middle;border:1px solid black">
                                    {{item.totalstockPrice}}
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
             
            </div>


            <div class="row table-scrollable" ng-show="reportChange === 'itemGroup' || reportChange === 'allItem'">
                <ul class="hidden-print" ng-hide="!itemMove.itemMoves.length || totalItems.length <= 1" uib-pagination total-items="totalItems" items-per-page="itemsperpage" first-text="الاول" next-text="التالي" previous-text="السابق" last-text="الاخير" ng-model="currentPage" ng-change="pageChanged()"></ul>

                <table id="loading-bar-container" class="table table-striped table-bordered table-hover items">
                    <thead>
                        <tr>
                            <th style="text-align:center;vertical-align:middle;border:1px solid black" rowspan="2">
                                #
                            </th>
                            <th style="text-align:center;vertical-align:middle;border:1px solid black" rowspan="2">

                                <a data-ng-click="sortType ='itemName';sortReverse = !sortReverse">
                                    الصنف
                                    <span ng-show="sortType === 'itemName' && !sortReverse" class="hidden-print fa fa-caret-down"></span>
                                    <span ng-show="sortType === 'itemName' && sortReverse" class="hidden-print fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th style="text-align:center;vertical-align:middle;border:1px solid black" colspan="2">
                                بيانات تحليلة
                            </th>
                            <th style="text-align:center;vertical-align:middle;border:1px solid black" rowspan="2">
                                <a ng-click="sortType = 'qty'; sortReverse = !sortReverse">
                                    رصيد اول
                                    <span ng-show="sortType == 'qty' && !sortReverse" class="hidden-print fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'qty' && sortReverse" class="hidden-print fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th style="text-align:center;vertical-align:middle;border:1px solid black;" rowspan="2">

                                <a ng-click="sortType = 'qtyin'; sortReverse = !sortReverse">
                                    وارد
                                    <span ng-show="sortType == 'qtyin' && !sortReverse" class="hidden-print fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'qtyin' && sortReverse" class="hidden-print fa fa-caret-up"></span>
                                </a>

                            </th>
                            <th style="text-align:center;vertical-align:middle;border:1px solid black;" rowspan="2">

                                <a ng-click="sortType = 'qtyout'; sortReverse = !sortReverse">
                                    منصرف
                                    <span ng-show="sortType == 'qtyout' && !sortReverse" class="hidden-print fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'qtyout' && sortReverse" class="hidden-print fa fa-caret-up"></span>
                                </a>

                            </th>
                            <th style="text-align:center;vertical-align:middle;border:1px solid black;border-right:3px solid" colspan="3">
                                رصيد

                            </th>

                        </tr>
                        <tr>
                            <th style="text-align:center;vertical-align:middle;border:1px solid black">


                                <a ng-click="sortType = 'turnOVer'; sortReverse = !sortReverse">
                                    معدل الدوران
                                    <span ng-show="sortType == 'turnOVer' && !sortReverse" class="hidden-print fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'turnOVer' && sortReverse" class="hidden-print fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th style="text-align:center;vertical-align:middle;border:1px solid black">

                                <a ng-click="sortType = 'StockRate'; sortReverse = !sortReverse">
                                    فترة التخزين
                                    <span ng-show="sortType == 'StockRate' && !sortReverse" class="hidden-print fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'StockRate' && sortReverse" class="hidden-print fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th style="text-align:center;vertical-align:middle;border:1px solid black;border-right:3px solid">

                                <a ng-click="sortType = 'totalstockqty'; sortReverse = !sortReverse">
                                    االكمية
                                    <span ng-show="sortType == 'totalstockqty' && !sortReverse" class="hidden-print fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'totalstockqty' && sortReverse" class="hidden-print fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th style="text-align:center;vertical-align:middle;border:1px solid black">

                                <a ng-click="sortType = 'stockprice'; sortReverse = !sortReverse">
                                    السعر
                                    <span ng-show="sortType == 'stockprice' && !sortReverse" class="hidden-print fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'stockprice' && sortReverse" class="hidden-print fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th style="text-align:center;vertical-align:middle;border:1px solid black">

                                <a ng-click="sortType = 'totalstockPrice'; sortReverse = !sortReverse">
                                    القيمة
                                    <span ng-show="sortType == 'totalstockPrice' && !sortReverse" class="hidden-print fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'totalstockPrice' && sortReverse" class="hidden-print fa fa-caret-up"></span>
                                </a>
                            </th>
                        </tr>

                    </thead>
                    <tbody>

                        <tr ng-repeat="item in itemMove.itemMoves">
                            <td style="text-align:center;vertical-align:middle;border:1px solid black">{{item.indexNo}}</td>
                            <td style="text-align:center;vertical-align:middle;border:1px solid black">{{item.itemName}}</td>
                            <td style="text-align:center;vertical-align:middle;border:1px solid black" data-toggle="tooltip" title="يعتبر معدل الدوران مؤشرا لمدي ملائمة حجم الاستمار في هذا المخزون , وهذا الرقم يعني ان كل جنية مستمر في هذا الصنف/المخزون يحقق مبيعات تبلغ تكلفتها {{item.turnOVer + ' جنية'}}">
                                {{item.turnOVer}}
                            </td>

                            <td style="text-align:center;vertical-align:middle;border:1px solid black" data-toggle="tooltip" title="هي متوسط فترة بقاء الصنف/البضاعة المشتراه في المخزن حتي يتم بيعه/بيعها">
                                {{item.stockRate}}
                            </td>

                            <td style="text-align:center;vertical-align:middle;border:1px solid black">
                                {{item.qty}}
                            </td>

                            <td style="text-align:center;vertical-align:middle;border:1px solid black">
                                {{item.qtyin}}
                            </td>

                            <td style="text-align:center;vertical-align:middle;border:1px solid black;">
                                {{item.qtyout}}
                            </td>

                            <td style="text-align:center;vertical-align:middle;border:1px solid black;border-right:3px solid">
                                {{item.totalstockqty}}
                            </td>
                            <td style="text-align:center;vertical-align:middle;border:1px solid black">
                                {{item.stockprice}}
                            </td>
                            <td style="text-align:center;vertical-align:middle;border:1px solid black">
                                {{item.totalstockPrice}}
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>


    </div>
</div>


<script src="../assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript"></script>
<script src="../assets/pages/scripts/ui-extended-modals.min.js" type="text/javascript"></script>
<script src="../assets/pages/scripts/ui-buttons.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<script src="../assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
<script src="../Scripts/js-custom-select-master.js"></script>
<script src="../assets/pages/scripts/form-validation-md.min.js" type="text/javascript"></script>
<script>

    $(".your_table_id").on("mousedown", "tr", function () {
        $(".selected").not(this).removeClass("selected");
        $(this).toggleClass("selected");
    });

    //date
    $(".integer").keypress(function (e) {
        if (e.which < 48 || e.which > 57) {
            showAdvice(this, "ارقام طبيعيه فقط");
            return (false);
        }
    });


    $(".decimal").keypress(function (e) {
        // 46 is a period
        if (e.which != 46 && (e.which < 48 || e.which > 57)) {
            showAdvice(this, "Decimal numbers only");
            return (false);
        }
        if (e.which == 46 && this.value.indexOf(".") != -1) {
            showAdvice(this, "Only one period allowed in decimal numbers");
            return (false);   // only one decimal allowed
        }


    });

    function showAdvice(obj, msg) {
        $("#singleAdvice").stop(true, false).remove();
        $('<span id="singleAdvice" class="advice">' + msg + '</span>').insertAfter(obj);
        $("#singleAdvice").delay(4000).fadeOut(1500);
    }

</script>


